/*Xcursor.theme: miku-cursor-linux*/
/*Xcursor.theme: Chicago95_Cursor_White*/
/*Xcursor.theme: Frieren*/
/*Xcursor.theme: Frieren-Winter*/
Xcursor.theme: pixelfun2-dracula
/*Xcursor.theme: pixelfun2-monochrome*/
/*Xcursor.theme: pixelfun2*/
Xcursor.size: 24
